@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


$yellow: #fbcb46;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $yellow;
$box-padding: 1rem;
$navbar-height: 4rem;


@import '~bulma/bulma.sass';

// HOME
.home-body{
    height: 100vh;
    background-image: url('https://external-preview.redd.it/ZQ-AstyRkZpGfPIas5tMDvyTmTWkycBwcZWgs5_14No.jpg?auto=webp&s=f34c2430eea18a2cf0b8d9736e6ed2670a7e864c');
  .home-title{

    margin-top: 80px;
    margin-left: 80px;
    // max-height: 100vh;
    // min-height: 867px;
    // min-width: 1030px;
    width: 90%;
    height: auto;
  }
  .pick-a-quiz{
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 50px;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: bold;
  }
}
.quiz-list{
  display: flex;
  justify-content: center;

  .quiz-1-pic, .quiz-2-pic{
    margin: 20px;
    // height: 50px;

  }
  .quiz-1-pic:hover, .quiz-2-pic:hover{
    border: 10px solid rgba(255, 0, 0, 0);
    transition: all 1s ease;
    transform: scale(1);
    box-shadow: 1px 1px;
  }
}

// NAVBAR
.navbar{
  height: 40px;
  background-image: '../game-assets/map.jpg';
}
.navbar-brand{
  margin-top: 20px;
  font-size: 20px;
}

// QUIZ 1
.body-quiz{
  height: 100vh;
  background-image: url('../game-assets/mapdark.jpg');
  background-size: fill;

  .main{
    background-image: '../game-assets/map.jpg';
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  .guess-who{
    margin-top: 50px;
    font-size: 50px;
  }

  .right, .wrong{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -300px;
    font-size: 35px;
    color: white;
    font-family: 'MedievalSharp', cursive;
}

  // font-family: 'Ringbearer Medium';
}
.question{
  display:flex;
  justify-content: center;
  font-size: 30px;
//   .question{
//     display:flex;
//     justify-content: center;
// }
}
.who-said{
  height: 30px;
  width: 250px;
}
.quotes{
  display: flex;
  justify-content: center;
  border: 10px;
  border-radius: 20px;
  // width: 500px;
  margin-left: 300px;
  margin-right: 300px;
  height: 145px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 400px;
  p{
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;
    padding-left: 30px;
    font-size: 25px;
    font-family: 'Times New Roman', cursive;
    overflow: auto;
  }
}
.choices .top-two, .choices .bottom-two{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .button{
    margin: 10px;
  }
}


  // .progress{
  //   // display: flex;
  //   // justify-content: center;
  //   margin-left: 150px;
  //   margin-right: 150px;
  // }

}
}


// QUIZ 2
.body-quiz-two{
  height: 100vh;
  background-image: url('../game-assets/mapdark.jpg');
  background-size: fill;

.header-two{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  

  .guess-who-two{
    font-size: 50px;
    margin-top: 50px;
    .map-bg-two .has-shadow{
      display: flex;
      justify-content: center;
    }
    .map-bg-three{
      display: flex;
      justify-content: center;
      height: 30px;
      width: 300px;
      margin-left: 260px;
    
    }
  }
  }
  .counter-two{
    margin-top: -200px;
    margin-right: 90px;
  .right-two, .wrong-two{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 100px;
    font-size: 35px;
    color: white;
    font-family: 'MedievalSharp', cursive;
  }
  }
  }
  .character-name{
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    color: white;
    font-size: 40px;
    margin-top: 90px;
    font-weight: bold;
  }
  .quotes-two {
    display: flex;
    justify-content: center;
    border: 10px;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 400px;
    height: 145px;
    margin-bottom: 20px;
      .quote-two{
        font-family: 'Times New Roman', cursive;
        margin-bottom: 20px;
        justify-content: center;
        padding: 10px;
        padding-left: 30px;
        font-size: 25px;
        overflow: auto;
      }
  }
  
  .top-buttons-two, .bottom-buttons-two{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .button{
    margin: 10px;
  }
  .button .is-hovered{
    color: white;
  }


  // .progress{
  //   // display: flex;
  //   // justify-content: center;
  //   margin-left: 150px;
  //   margin-right: 150px;
  // }




// QUIZ END


.end-bg{
  height: 100vh;
  background-image: url('../game-assets/mapnew.jpg');

  .how-well-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
    .how-well{
      margin-top: 50px;
      font-size: 50px;
    }
  }
    .counter-results{
      display: flex;
      justify-content: center;
      font-family: 'MedievalSharp', cursive;
      color: white;
      font-weight: bold;
      font-size: 40px;
    }
    .score-progress{
      display: flex;
      justify-content: center;
      .score-words{
        display: flex;
        justify-content: center;
        color: white;
        margin-top: 25px;
        margin-bottom: 10px;
        font-family: 'MedievalSharp', cursive;
        font-size: 35px;
        font-weight: bold;
      }
      .score-bad, .score-alright, .score-good{
        margin-bottom: 50px;
        height: 300px;
        width: 700px;
      }
      .score-great{
        display: flex;
        justify-content: center;
        margin-left: 120px;
        margin-bottom: 50px;
        height: 300px;
        width: 700px;
      }
      .score-good{
        margin-left: 70px;
      }
    }
    .end-nav{
      display: flex;
      justify-content: center;
      .a{
        color: white;
      }
      .play-again, .home-link{
        margin-left: 10px;
        margin-right: 10px;
      }
    }


}

// RESOURCES
  .api-link{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'MedievalSharp', cursive;
    font-size: 50px;
    a{
      font-family: 'Times New Roman';
    }
  }


  // @media screen and (max-width: 1024px){
  //   // a.navbar-end{
  //   //   justify-content: flex-start;
  //   //   margin-left: auto;
  //   // }

  //   h2 .pick-a-quiz{
  //     font-size: 10px;
  //   }
    
    
  // }





  @media screen and (max-width: 1300px) and (min-width: 1000px){
    .right, .wrong, .right-two, .wrong-two{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-start;
    }
  }